body {
  background: linear-gradient(#2b190f, #000);
  color: #fff;
  display: flex;
  flex-flow: column;
}

form {
  align-self: flex-start;
  padding: 2rem 0;
  position: sticky;
  top: 0;
}

.letter {
  font-family: 'Times New Roman', Times, serif;
  line-height: 2;
  padding: 1rem 0;
}

.required {
  color: #f00;
}

@media only screen and (min-width: 992px) {
  body {
    flex-flow: row;
  }

  .letter {
    padding: 1rem 1rem 1rem 0;
  }
}
