body {
  display: flex;
  flex-flow: column;
}

form {
  align-self: flex-start;
  padding: 2rem 0;
  position: sticky;
  top: 0;
}

.letter {
  font-family: 'Times New Roman', Times, serif;
  line-height: 2;
  padding: 1rem 0;
}

.required {
  color: #f00;
}

#memo {
  margin-top: 0;
  opacity: 1;
  transition: all ease-in-out 0.5s;
  z-index: 1;
}

@media only screen and (min-width: 992px) {
  body {
    flex-flow: row;
  }

  .letter {
    padding: 1rem 1rem 1rem 0;
  }
}
